/*-----------------------------
    -----Google Font-----
------------------------------*/
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Gabriela */
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

/* Fredericka the Great */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/*-----------------------------
    -----Local Font-----
------------------------------*/
@font-face {
    font-family: 'Gabelisa';
    src: url('fonts/Gabelisa\ Font\ by\ Keithzo\ \(7NTypes\).otf');
    }


/*-----------------------------
    -----Common Styles-----
------------------------------*/
*{
    margin: 0;
    padding: 0;
}
.fix{
    overflow: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
}
.margin-auto{
    margin: 0 auto;
}


/*---------------------------------
    -----Section-1 Styles-----
----------------------------------*/
.section-1{
    background-image: url(images/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.section-1-child-1{
    width: 600px;
    text-align: center;
    margin-left: 200px;
    margin-top: 220px;
}
.section-1-child-1 .title-1{
    font-size: 58px;
    color: #000000;
    font-family: 'Gabelisa', serif;
    font-weight: 500;
    padding-bottom: 27px; 
}

.section-1-child-1 .title-2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 90px;
    color: #000000;
    font-weight: 400;
    padding-bottom: 35px; 
}
.section-1-child-1 .title-3{
    font-size: 27px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding-bottom: 40px; 
}
.hr-1 {
    width: 469px;
    height: 1px;
    background-color: #0000003b;
    margin: auto;
    margin-bottom: 43px;
    border: 0;
}
.s1-child-item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding-bottom: 60px;
}
.s1-child-item-2 .title-4{
    font-size: 19px;
    color: #000000;
    font-weight: 400;
    font-family: "Fredericka the Great";
}

.s1-child-item-2 .title-5{
    font-size: 57px;
    color: #000000;
    font-weight: 400;
    font-family: "Fredericka the Great";
}

.order-btn{
    width: 227px;
    height: 58px;
    background-color: rgba(248,23,23,0);
    border: 1px solid #000000;
    text-decoration: none;
    color:#000000;
    padding: 10px 20px;
    font-size: 21px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
}

.section-1-child-2{
    width: 50%;
    margin-right: 200px;
}

.Spaghetti-flower{
    position: absolute;
    left: 0; 


}


















/*---------------------------------
    -----Section-2 Styles-----
----------------------------------*/
.section-2-items{
    padding-top: 100px;
    margin: auto;
    width: 1055px;
    padding-bottom: 50px;
}
.section-2-items h2{
    font-family: "Fredericka the Great";
    font-size: 50px;
    line-height: 38px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}

.section-2-items p{
    font-size: 17px;
    line-height: 29px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.background-table{
    width: 100%;
    height: 140px;
    background-color: #e8e6a9;
    position: absolute;
    z-index: -1;
    margin-top: 110px;
}

.section-2-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    padding-bottom: 50px;
    z-index: 1;
}

.section-2-menu-item{
    width: 351px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.section-2-menu-item img{
    /* width: 351px;
    height: 353px; */
    margin: 0 auto;
}

.section-2-menu-item h3{
    font-size: 21px;
    line-height: 38px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    padding-bottom: 23px;

}
.section-2-menu-item p{
    /* width: 367px;
    height: 51px; */
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding-bottom: 35px;
}

.section-2-menu-item .menu-order-btn{
    font-size: 17px;
    line-height: 38px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 10px 20px;
    background-color: #ffe001;
    text-decoration: none;
    text-align: center;
}

/*---------------------------------
    -----Section-3 Styles-----
----------------------------------*/






/*---------------------------------
    -----Section-4 Styles-----
----------------------------------*/


/*---------------------------------
    -------Media Queary-------
----------------------------------*/

/* Mobile Device */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }

    /* section - 1  */
    .section-1{
        background-image: url(images/background-1.png);
    }
    
    .section-1-child-1{
        width: 100%;
    }
    .section-1-child-1 .title-1{
        font-size: 40px;
        text-align: center;
        color: #000000;
        font-family: 'Gabelisa', serif;
        font-weight: 500;
        padding-bottom: 27px;
    }
    
    .section-1-child-1 .title-2{
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        color: #000000;
        font-weight: 400;
        padding-bottom: 35px; 
    }
    .section-1-child-1 .title-3{
        font-size: 18px;
        color: #000000;
        font-weight: 700;
        font-family: "Montserrat";
        padding-bottom: 40px; 
    }
    .hr-1 {
        width: 70%;
        height: 1px;
        background-color: #0000003b;
        margin: auto;
        margin-bottom: 43px;
        border: 0;
    }
    .s1-child-item-2{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        padding-bottom: 60px;
    }
    .s1-child-item-2 .title-4{
        font-size: 19px;
        color: #000000;
        font-weight: 400;
        font-family: "Fredericka the Great";
    }
    
    .s1-child-item-2 .title-5{
        font-size: 57px;
        color: #000000;
        font-weight: 400;
        font-family: "Fredericka the Great";
    }

    /* section - 2  */
    .section-2-items h2{
        width: 375px;
        font-size: 36px;
        text-align: center;
    }
    .section-2-items p{
        width: 375px;
        font-size: 15px;
        text-align: center;
        padding: 0px 10px
    }
    .background-table{
        display: none;
    }
    .section-2-menu{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 50px;
    }
    .section-2-menu-item{
        padding-bottom: 50px;
        border-bottom: 0.5px solid #00000046;
    }
    .section-2-menu-item img{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        padding-top: 30px;
    }
}