/*-----------------------------
    -----Google Font-----
------------------------------*/
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Gabriela */
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

/* Fredericka the Great */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/*-----------------------------
    -----Local Font-----
------------------------------*/
@font-face {
    font-family: 'Gabelisa';
    src: url('fonts/Gabelisa\ Font\ by\ Keithzo\ \(7NTypes\).otf');
    }


/*-----------------------------
    -----Common Styles-----
------------------------------*/
*{
    margin: 0;
    padding: 0;
}
.fix{
    overflow: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
}
.margin-auto{
    margin: 0 auto;
}


/*---------------------------------
    -----Section-1 Styles-----
----------------------------------*/
.section-1{
    background-image: url(images/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.section-1-child-1{
    width: 600px;
    text-align: center;
    margin-left: 200px;
    margin-top: 220px;
}
.section-1-child-1 .title-1{
    font-size: 58px;
    color: #000000;
    font-family: 'Gabelisa', serif;
    font-weight: 500;
    padding-bottom: 27px; 
}

.section-1-child-1 .title-2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 90px;
    color: #000000;
    font-weight: 400;
    padding-bottom: 35px; 
}
.section-1-child-1 .title-3{
    font-size: 27px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding-bottom: 40px; 
}
.hr-1 {
    width: 469px;
    height: 1px;
    background-color: #0000003b;
    margin: auto;
    margin-bottom: 43px;
    border: 0;
}
.s1-child-item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding-bottom: 60px;
}
.s1-child-item-2 .title-4{
    font-size: 19px;
    color: #000000;
    font-weight: 400;
    font-family: "Fredericka the Great";
}

.s1-child-item-2 .title-5{
    font-size: 57px;
    color: #000000;
    font-weight: 400;
    font-family: "Fredericka the Great";
}

.order-btn{
    width: 227px;
    height: 58px;
    background-color: rgba(248,23,23,0);
    border: 1px solid #000000;
    text-decoration: none;
    color:#000000;
    padding: 10px 20px;
    font-size: 21px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
}

.section-1-child-2{
    width: 50%;
    margin-right: 200px;
}

.Spaghetti-flower{
    position: absolute;
    left: 0; 


}


















/*---------------------------------
    -----Section-2 Styles-----
----------------------------------*/
.section-2-items{
    padding-top: 100px;
    margin: auto;
    width: 1055px;
    padding-bottom: 50px;
}
.section-2-items h2{
    font-family: "Fredericka the Great";
    font-size: 50px;
    line-height: 38px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}

.section-2-items p{
    font-size: 17px;
    line-height: 29px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.background-table{
    width: 100%;
    height: 140px;
    background-color: #e8e6a9;
    position: absolute;
    z-index: -1;
    margin-top: 110px;
}

.section-2-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    padding-bottom: 50px;
    z-index: 1;
}

.section-2-menu-item{
    width: 351px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.section-2-menu-item img{
    /* width: 351px;
    height: 353px; */
    margin: 0 auto;
}

.section-2-menu-item h3{
    font-size: 21px;
    line-height: 38px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    padding-bottom: 23px;

}
.section-2-menu-item p{
    /* width: 367px;
    height: 51px; */
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding-bottom: 35px;
}

.section-2-menu-item .menu-order-btn{
    font-size: 17px;
    line-height: 38px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 10px 20px;
    background-color: #ffe001;
    text-decoration: none;
    text-align: center;
}

/*---------------------------------
    -----Section-3 Styles-----
----------------------------------*/
/* .section-3{

} */
.section-3-items{
    padding-top: 100px;
    text-align: center;
    width: 1020px;
    height: 80px;  
    margin: 0 auto;
}
.section-3-items .title-6{
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 46px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding-bottom: 12px;
}
.section-3-items .title-7{
    font-size: 42px;
    line-height: 46px;
    color: #000000;
    font-weight: 400;
    font-family: "Fredericka the Great";
    padding-bottom: 30px;
}
.section-3-items p{
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding-bottom: 40px;
}

/* section-3-albums */
.section-3-albums{
    width: 100%;
}
.section-3-album-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
}
.section-3-image-2{
    width: 650px;
}

/* @media only screen and (max-width: 688px){

} */


/*---------------------------------
    -----Section-4 Styles-----
----------------------------------*/
.section-4{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    height: 500px;
}
.section-4-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}
.section-4-child-1-img{
    position: absolute;
    z-index: -1;
}
.section-4-child-1-info{
    position: absolute;
    margin-top: 45px;
    margin-left: 45px;
}
.title-8{
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    padding-bottom: 10px;
}
.title-9{
    font-size: 36px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}


.section-4-child-2-img-1{
    padding-bottom: 32px;
    position: absolute;
    z-index: -1;
}
.section-4-child-2-img-2{
    position: relative;
    z-index: -1;
}

.section-4-child-2-info{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}



/*---------------------------------
    -----Section-5 Styles-----
----------------------------------*/
.section-5-info{
    text-align: center;
}
.section-5-info .title-10{
    font-size: 21px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding-bottom: 24px;
}
.section-5-info .title-11{
    font-size: 50px;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 400;
    font-family: "Fredericka the Great";
    padding-bottom: 40px;
}

/* CONTACT FORM STYLE */
.contact-form{
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
}
.form-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    justify-items: center;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    
}
.form-info{
    width: 379px;
    height: 65px;
    border-radius: 5px;
    background-color: rgba(235,174,76,0);
    border: 1px solid #bebebe;
    /* placeholder */
    font-size: 17px;
    line-height: 46px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Montserrat";
    padding-left: 20px;
}
.submit-btn{
    width: 399px;
    background-color: #ffe001;
    font-size: 21px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding-left: 0;
}




/*---------------------------------
    -------Footer Style-------
----------------------------------*/
.footer-bg{
    background-image: url(images/bg-images.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 584px;
    margin-top: 100px;
}
.footer-logo{
    margin-top: 100px;
    margin-left: 100px;
}
.footer-logo h2{
    font-size: 46px;
    color: #ffe001;
    font-family: "Montserrat";
    padding-bottom: 70px;
}

.footer-child {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    margin-bottom: 180px;
}
.footer-details{
    width: 512px;
    height: 88px;
    margin-left: 100px;
}
.footer-details p{
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}



.footer-address{
    display: flex;
    padding-bottom: 17px;
    padding-top: 30px;
}
.footer-address p{
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
    padding-left: 35px;
}

.footer-email{
    display: flex;
}
.footer-email p{
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
    padding-left: 35px;
}

.footer-last-child{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
.copyright{
    margin-left: 100px;
}
.copyright p{
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
.social-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 13px;
}

/*---------------------------------
    -------Media Queary-------
----------------------------------*/

/* Mobile Device */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }

    /* ---------section - 1----------  */
    .section-1{
        background-image: url(images/background-1.png);
        background-size: auto;
    }
    
    .section-1-child-1{
        width: 100%;
    }
    .section-1-child-1 .title-1{
        font-size: 40px;
        text-align: center;
        color: #000000;
        font-family: 'Gabelisa', serif;
        font-weight: 500;
        padding-bottom: 27px;
    }
    .section-1-child-1 .title-2{
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        color: #000000;
        font-weight: 400;
        padding-bottom: 35px; 
    }
    .section-1-child-1 .title-3{
        font-size: 18px;
        color: #000000;
        font-weight: 700;
        font-family: "Montserrat";
        padding-bottom: 40px; 
    }
    .hr-1 {
        width: 70%;
        height: 1px;
        background-color: #0000003b;
        margin: auto;
        margin-bottom: 43px;
        border: 0;
    }
    .s1-child-item-2{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        padding-bottom: 60px;
    }
    .s1-child-item-2 .title-4{
        font-size: 19px;
        color: #000000;
        font-weight: 400;
        font-family: "Fredericka the Great";
    }
    .s1-child-item-2 .title-5{
        font-size: 57px;
        color: #000000;
        font-weight: 400;
        font-family: "Fredericka the Great";
    }
    .Spaghetti-flower img{
        display: none;
    }
    /* ----------section - 2-----------  */
    .section-2-items h2{
        width: 375px;
        font-size: 36px;
        text-align: center;
    }
    .section-2-items p{
        width: 375px;
        font-size: 15px;
        text-align: center;
        padding: 0px 10px
    }
    .background-table{
        display: none;
    }
    .section-2-menu{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 50px;
    }
    .section-2-menu-item{
        padding-bottom: 50px;
        border-bottom: 0.5px solid #00000046;
    }
    .section-2-menu-item img{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        padding-top: 30px;
    }

    /* ---------section-3-------- */
    .section-3-items{
        padding-top: 50px;
        text-align: center;
        width: 400px;
        height: 80px;
    }
    .section-3-items .title-6{
        font-size: 17px;
        letter-spacing: 1px;
        padding-bottom: 0px;
    }
    .section-3-items .title-7{
        font-size: 30px;
        padding-bottom: 15px;
    }
    .section-3-items p{
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        padding: 0px 15px 30px 15px;
    }
    .section-3-album-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 200px;
        margin-left: 0;
        padding-left: 0;
    }
    .section-3-image-1{
        padding-bottom: 30px;
    }
    .section-3-image-2{
        display: none;
    }
    .section-4{
        display: none;
    }
}